*, *::before, *::after{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }

@font-face {
  font-family: "Montserrat";
  src: url('./assets/Montserrat-VariableFont_wght.woff') format('woff');
  font-style: normal;
}
:root{
  --body-background: white;
  --logo-font: #10b981;
  --icon-brightness: brightness(0.5);
  --white : #fff;
  --dark-hover: #1f1f1f;
  --input-secondary: #c0c4c9;
  --input-primary: #f9fafb;
  --input-focus: #6858f0;
  --secondary-green: #0d996a;
  --grey-highlight: #414040;
  --error: red;
  --segment-background: #f7f7f7;
  --main-font:rgb(73, 73, 73);
}

[data-theme="dark"]{
  --body-background: #292727;
  --logo-font: #0ad18f;
  --icon-brightness: brightness(3);
  --brightness-hover: brightness(0.5);
}

[data-theme="light"]{
  --body-background: #ffff;
  --logo-font: #10b981;
  --icon-brightness: brightness(0.5);
  --brightness-hover: brightness(0.7);
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--body-background);
  color: var(--main-font)
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
input, select {
  width: 300px;
  height: 35px;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid var(--input-secondary);
  background: var(--input-primary);
  border-radius: 5px;
  padding: 10px;
  border-bottom: 2px solid var(--input-secondary);
}
input:focus, select:focus, textarea:focus{
  outline: none !important;
  border: 2px solid var(--input-focus);
}
select{
  height: 40px;
}
textarea {
  width: 300px;
  height: 100px;
  font-size: 0.9rem;
  cursor: pointer;

  background: var(--input-primary);
  font-family: inherit;
  box-shadow: none;
  border: 1px solid var(--input-secondary);
  border-radius: 5px;
  resize:none;
}
button{
  cursor: pointer;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.resume{
  width: 670px;
  height: 927px;
  border: 1px solid black;
  background-color: var(--white);
  margin-top:20px;
}
.app{
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.add-picture{
  margin-top: 30px;
  transition: 0.2s ease-in-out;
}
.picture img{
  cursor: pointer;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 35px 35px 0px 35px;
}

.profile-pic{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 5px solid #10b981;
}
.profile:hover .pen{
  display: flex;
  
}
.modal{
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 400px;
  /*max-height: */
  max-height: 650px;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media print {
   @page {
      size: 670px 927px;
      overflow: hidden;
    }
    .resume{
      border:none;
    }
}
.modal-top{
  display: flex;
  width: 100%;
}
.close-modal, .remove-edu-segment, .remove-skill-segment, .remove-work-segment{
    background:url('./assets/x.svg');
    background-size: 30px 30px;
    height: 30px;  
    width: 30px;
    margin-left: auto;
    transition: all 100ms ease-in-out;
}
.remove-edu-segment, .remove-skill-segment, .remove-work-segment{
  display: none;
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.edu-segment:hover .remove-edu-segment, .work-segment:hover .remove-work-segment, .skills-segment:hover .remove-skill-segment{
  display: flex;
}
.close-modal:hover, .remove-edu-segment:hover, .remove-skill-segment:hover, .remove-work-segment:hover {
  scale: 110%
}
.close-modal:active, .remove-edu-segment:active, .remove-skill-segment:active, .remove-work-segment:active{
  scale: 95%;
}
.title-edu-segment, .title-work-segment{
  display: flex;
  justify-content: space-between;
}
#image{
  padding: 5px;
}
.crop-btn, .file-loader-btn, .add-btn, .add-edu-btn{
  padding: 0.5em 1em;
  width: auto;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #10b981;
  top: 1em;
  right: 1em;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}
.crop-btn:hover, .file-loader-btn:hover, .add-btn:hover, .add-edu-btn:hover{
  background: var(--secondary-green);
}
.loaded-img{
  width: auto; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}
input[type="file"] {
  display: none;
}
.error-msg{
  color: rgb(211, 50, 50);
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.form-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:auto;
  background-color: var(--white);
  border-radius: 0.75rem;
  padding: 5px 5px 5px 5px;
}
.hide{
  background:url('./assets/up-arrow.svg');
  background-size: 35px 35px;
  height: 35px;  
  width: 35px;
}
.show{
  background:url('./assets/down-arrow.svg');
  background-size: 35px 35px;
  height: 35px;  
  width: 35px;
}
.left-side{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.printer{
  background:url('./assets/printer.svg');
  background-size: 35px 35px;
  height: 35px;  
  width: 35px;
  filter: var(--icon-brightness);
}
.hide:hover, .show:hover, .open-eye-icon:hover, .closed-eye-icon:hover{
  filter: brightness(75%);
}
.printer:hover{
  filter: var(--brightnes-hover); 
}
.logo{
  color:var(--logo-font);
  font-size: 2.5rem;
  font-weight: 500;
}
.form-section{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 5px 10px 5px 10px;
  border-radius: 0.75rem;
  padding: 10px 10px 10px 10px;
}
.form-section-edu, .form-section-skill, .form-section-work{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.75rem;
  padding: 5px;
}
.form-segment{
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 10px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
}
.form-icon-contact{
  background:url('./assets/person.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-education{
  background:url('./assets/graduation.svg');
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
}
.form-icon-skills{
  background:url('./assets/skills.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-speech{
  background:url('./assets/speech.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-briefcase{
  background:url('./assets/briefcase.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-custom{
  background:url('./assets/settings.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-title{
  display: flex;
  align-items: center;
  gap: 10px;
}
.slide-down{
  animation: slide-down 600ms forwards;
}
.add-btn{
  width: fit-content;
  margin: 5px 0px 5px 0px;
}
.upper-part{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.upper-full-name{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  overflow-wrap: break-word;
  max-width: 300px;
}
.upper-current-position{
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--secondary-green);
  color:var(--white);
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  overflow-wrap: break-word;
  max-width: 300px;
}
.upper-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  gap: 20px;
}
.contact-inside{
  background-color:var(--white);
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-radius:15px;
}
.contact-inside p{
  font-size: 0.8rem;
}
.contact-info, .education-info, .skill-info, .work-info{
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: var(--secondary-green);
  padding: 5px 12px 5px 12px;
  width: fit-content;
  border-radius: 15px;;
}
.phone-icon{
  background:url('./assets/phone.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.email-icon{
  background:url('./assets/email.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.github-icon{
  background:url('./assets/github.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.linkedin-icon{
  background:url('./assets/linkedin.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.portfolio-icon{
  background:url('./assets/webpage.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.location-icon{
  background:url('./assets/location.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.skill-box, .work-box, .education-box, .contact-box{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-element{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  color:#313135
}
.middle-resume-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  margin-left: 15px;
}
.input-entity{
  display: flex;
  gap: 5px;
  align-items: center;
}
.open-eye-icon{
  background:url('./assets/eye-open.svg');
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
}
.closed-eye-icon{
  background:url('./assets/eye-closed.svg');
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
}
input[type="checkbox"]{
  width: fit-content;
  width: 20px;
  accent-color: var(--secondary-green);
}
.checkbox{
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 20px;
}
.degree-name, .work-position{
  font-size: 1rem;
  color: var(--grey-highlight);
  font-weight: bold;
  overflow-wrap: break-word;
}
.edu-segment, .work-segment{
  display: flex;
  flex-direction: column;
  background-color:var(--segment-background);
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-radius:15px;
}
.edu-segment p, .work-segment p{
  margin: 5px;
}
.edu-date{
  font-size: 0.95rem;
}
.company-date{
  display: flex;
  align-items: center;
}
.static-edu-shortcut{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px
}
.education-inside{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-error{
  color: var(--error);
  font-size: 0.85rem;
}
.add-edu-btn{
  width: fit-content;
  align-self: center;
  margin: 5px 0px 5px 0px;
}
.skills-segment{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background-color: var(--segment-background);
  border-radius: 15px;
  padding: 10px 10px 10px 10px
}
.skill-desc{
  color: var(--dark-hover);
  font-size: 0.80rem;
  width: 135px;
  overflow-wrap:break-word ;
}
.skill-name{
  color: var(--secondary-green);
  font-weight: bold;
  font-size: 0.9rem;
  max-width: 100px;
  overflow-wrap: break-word;
}
.skills-collection{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
  max-width: 300px;
  width: fit-content;
}
.resume-content{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.work-date, .edu-date{
  font-size: 0.8rem;
}
.work-description{
  font-size: 0.85rem;
}
.work-company, .uni-name{
  font-size: 0.9rem;
  color:var(--secondary-green);
  font-weight: bold;
  overflow-wrap: break-word;
}
.work-position, .degree-name{
  font-size: 0.95rem;
  overflow-wrap: break-word;
}
.work-segment, .edu-segment{
  max-width: 300px;
}
.lower-resume-section{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 30px;
  margin-right: 15px;
}
.work-collection{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-description, #work-position, .work-company{
  overflow-wrap:break-word;
}
.work-company{
  max-width: 120px;
}
#color-picker{
  width: 50px;
  margin: 0px;
  padding: 0px;
}
#color-picker{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border:none;
  cursor: pointer;
}
#color-picker::-moz-color-swatch, #color-picker::-webkit-color-swatch{
  border-radius: 50%;
}
a{
  text-decoration: none;
  color: var(--grey-highlight);
  font-size: 0.8rem;
}
a:hover{
  color: var(--dark-hover);
}
.top-page{
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 30px 0px 20px 0px
}

/*Theme switch css*/
.light-theme{
  background:url('./assets/moon.svg');
  background-size: 40px 40px;
  height: 40px;  
  width: 40px;
}
.dark-theme{
  background:url('./assets/sun.svg');
  background-size: 40px 40px;
  height: 40px;  
  width: 40px;
}
.light-theme:hover, .dark-theme:hover{
  filter:brightness(0.5);
}
/*Responsivness css*/
@media all and (max-width: 735px) {
  .app{
    gap: 0px;
  }
  .right-side{
    scale: 0.8;
  }
}
@media all and (max-width: 550px){
  .right-side{
    transform: scale(0.6);
    margin: -150px 0;
  }
  .form-segment{
   min-width: 300px;
  }
  .form-label{
    max-width: 280px;
  }
  input, textarea{
    width: 200px;
  }
}
@media all and (max-width: 420px){

  .right-side{
    transform: scale(0.55);
    margin: -200px 0;
  }
  .form-segment{
    min-width: 250px;
  }
  input, textarea{
    width: 180px;
  }
}
/*Print css*/
@keyframes slide-down{
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}