* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
  }
body{
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  color: rgb(73, 73, 73);
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
input, select {
  width: 300px;
  height: 35px;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid #c0c4c9;
  background: #f9fafb;
  border-radius: 5px;
  padding: 10px;
  border-bottom: 2px solid #c0c4c9;
}
input:focus, select:focus, textarea:focus{
  outline: none !important;
  border: 2px solid #6858f0;
}
select{
  height: 40px;
}
textarea {
  width: 300px;
  height: 100px;
  font-size: 0.9rem;
  cursor: pointer;

  background:#f9fafb;
  font-family: inherit;
  box-shadow: none;
  border: 1px solid #c0c4c9;
  border-radius: 5px;
  resize:none;
}

button{
  cursor: pointer;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.resume{
  width: 670px;
  height: 927px;
  border: 1px solid black;
  background-color: #ffffff ;
}
.app{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.add-picture{
  margin-top: 30px;
  transition: 0.2s ease-in-out;
}
.picture img{
  cursor: pointer;
}
.profile{
  position: relative;
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 20px 35px 0px 35px;

}
.profile-pic{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 5px solid #10b981;
}
.profile:hover .pen{
  display: flex;
  
}
.modal{
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  
  max-width: 400px;
  /*max-height: 650px;*/
  max-height: fit-content;
  padding: 20px;
  
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.modal-top{
  display: flex;
  width: 100%;
}
.close-modal, .remove-edu-segment, .remove-skill-segment, .remove-work-segment{
    background:url('./assets/x.svg');
    background-size: 30px 30px;
    height: 30px;  
    width: 30px;
    margin-left: auto;
    transition: all 100ms ease-in-out;
}
.remove-edu-segment, .remove-skill-segment, .remove-work-segment{
  display: none;
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.edu-segment:hover .remove-edu-segment{
  display: flex;
}
.skills-segment:hover .remove-skill-segment{
  display: flex;
}
.work-segment:hover .remove-work-segment{
  display: flex;
}
.close-modal:hover, .remove-edu-segment:hover, .remove-skill-segment:hover, .remove-work-segment:hover {
  scale: 110%
}
.close-modal:active, .remove-edu-segment:active, .remove-skill-segment:active, .remove-work-segment:active{
  scale: 95%;
}
.title-edu-segment, .title-work-segment{
  display: flex;
  justify-content: space-between;
}
#image{
  padding: 5px;
}
.crop-btn, .file-loader-btn, .add-btn, .add-edu-btn{
  padding: 0.5em 1em;
  width: auto;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #10b981;
  top: 1em;
  right: 1em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}
.crop-btn:hover, .file-loader-btn:hover, .add-btn:hover, .add-edu-btn:hover{
  background: #0d996a;
}
.loaded-img{
  width: auto; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}

input[type="file"] {
  display: none;
}
.error-msg{
  color: rgb(211, 50, 50);
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.form-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:auto;
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 0px 5px 0px 5px;
}
.hide{
  background:url('./assets/up-arrow.svg');
  background-size: 35px 35px;
  height: 35px;  
  width: 35px;
}
.show{
  background:url('./assets/down-arrow.svg');
  background-size: 35px 35px;
  height: 35px;  
  width: 35px;
}
.left-side{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hide:hover, .show:hover, .open-eye-icon:hover, .closed-eye-icon:hover{
  filter: brightness(75%);
}
.form-section{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 0.75rem;
  padding: 10px 10px 10px 10px;
}
.form-section-edu, .form-section-skill, .form-section-work{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.75rem;
}
.form-segment{
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 10px;
  min-width: 340px;
  display: flex;
  flex-direction: column;

}
.form-icon-contact{
  background:url('./assets/person.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-education{
  background:url('./assets/graduation.svg');
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
}
.form-icon-skills{
  background:url('./assets/skills.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-speech{
  background:url('./assets/speech.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-briefcase{
  background:url('./assets/briefcase.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-icon-custom{
  background:url('./assets/settings.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.form-title{
  display: flex;
  align-items: center;
  gap: 10px;
}
.slide-down{
  animation: slide-down 600ms forwards;
}
.add-btn{
  width: fit-content;
  margin: 5px 0px 5px 0px;
}

@keyframes slide-down{
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
.upper-part{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.upper-full-name{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.upper-current-position{
  font-size: 1.1rem;
  font-weight: bold;
  background-color:#0d996a;
  color:white;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
}
.upper-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.contact-inside{
  background-color:#f7f7f7;
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-radius:15px;
}
.contact-inside p{
  font-size: 0.8rem;
}
.contact-info, .education-info, .skill-info, .work-info{
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #0d996a;
  padding: 5px 12px 5px 12px;
  width: fit-content;
  border-radius: 15px;;
}
.phone-icon{
  background:url('./assets/phone.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.email-icon{
  background:url('./assets/email.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.github-icon{
  background:url('./assets/github.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.linkedin-icon{
  background:url('./assets/linkedin.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.portfolio-icon{
  background:url('./assets/webpage.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
}
.contact-element{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  color:#313135
}
.middle-resume-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  margin-left: 15px;
}
.input-entity{
  display: flex;
  gap: 5px;
  align-items: center;
}
.open-eye-icon{
  background:url('./assets/eye-open.svg');
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
}
.closed-eye-icon{
  background:url('./assets/eye-closed.svg');
  background-size: 25px 25px;
  height: 25px;  
  width: 25px;
}
input[type="checkbox"]{
  width: fit-content;
  width: 20px;
  accent-color: #0d996a;
}
.checkbox{
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 20px;
}
.degree-name, .work-position{
  font-size: 1rem;
  color: #414040;
  font-weight: bold;
  overflow-wrap: break-word;
}
.edu-segment, .work-segment{
  display: flex;
  flex-direction: column;
  background-color:#f7f7f7;
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-radius:15px;
}
.edu-segment p, .work-segment p{
  margin: 5px;
}
.edu-date{
  font-size: 0.95rem;
}
.company-date{
  display: flex;
  align-items: center;
}

.static-edu-shortcut{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px
}
.education-inside{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-error{
  color: red;
  font-size: 0.85rem;
}
.add-edu-btn{
  width: fit-content;
  align-self: center;
  margin: 5px 0px 5px 0px;
}
.skills-segment{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background-color:  #f7f7f7;
  border-radius: 15px;
  padding: 0px 10px 0px 10px
}
.skill-desc{
  color: #1f1f1f;
  font-size: 0.80rem;
  width: 135px;
  overflow-wrap:break-word ;
}
.skill-name{
  color: #0d996a;
  font-weight: bold;
  font-size: 0.9rem;
  max-width: 100px;
  overflow-wrap: break-word;
}
.skills-collection{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
  max-width: 300px;
  width: fit-content;
}
.resume-content{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.work-date, .edu-date{
  font-size: 0.8rem;
}
.work-description{
  font-size: 0.85rem;
}
.work-company, .uni-name{
  font-size: 0.9rem;
  color:#0d996a;
  font-weight: bold;
  overflow-wrap: break-word;
}
.work-position, .degree-name{
  font-size: 0.95rem;
  overflow-wrap: break-word;
}
.work-segment, .edu-segment{
  max-width: 300px;
}
.lower-resume-section{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 15px;
}
.work-collection{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-description, #work-position, .work-company{
  overflow-wrap:break-word;
}
.work-company{
  max-width: 120px;
}