* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
  }
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, select {
  width: 300px;
  height: 30px;
  font-size: 0.9rem;
  cursor: pointer;
}
textarea {
  width: 300px;
  height: 100px;
  font-size: 0.9rem;
  cursor: pointer;
}
.form-section{
  display: flex;
  flex-direction: column;
}
button{
  cursor: pointer;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.resume{
  width: 670px;
  height: 927px;
  border: 1px solid black;;
}
.app{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.concise-side{
  width: 35%;
  height: 100%;
  background-color:rgb(111, 111, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-picture{
  margin-top: 30px;
  transition: 0.2s ease-in-out;
}
.profile{
  position: relative;
}
.profile:hover .pen{
  display: flex;
}
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
}
.pen > img{
  width:70%;
  height: 70%;
}
.pen{
  width: 40px;
  height: 40px;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 50ms ease-in-out;
}
.pen:active{
  scale:90%
}
.modal{
  background-color: rgb(85, 85, 85);
  border-radius: 25px;
  max-width: 400px;
  max-height: 600px;
  padding: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}